{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Librarry Rules</h1>

  <ul class="lead">
  	<li>No material may be removed from the Library unless it has been borrowed by and issued to the card of the person removing it. </li><br>

  	<li>All material is lent at the discretion of the Hub's Librarian and must be returned to the Library on request, whether overdue or not. </li><br>

  	<li>Material may not be transferred from one user to another without being returned to the Library for re-issue. </li><br>

  	<li>Each person will be held responsible for the loss of, or damage to, any material borrowed by them from the Library. A sum to cover the full cost of replacement or repair may be payable. </li><br>
  </ul>

{% endblock %}